# Dependencias
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
tmp/
temp/
*.tmp

